/* Artfully masterminded by Kevin Xu <kevin@imkevinxu.com> */

@font-face {
    font-family: "xkcd";
    src: url('../fonts/Humor-Sans-1.0.ttf');
}

body {
    font-family: "xkcd", sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:hover {
    color: #0E5C9E;
}

.container {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.left {
    padding-left: 70px;
    float: left;
}

.right {
    padding-right: 70px;
    float: right;
}

.clear {
    clear: both;
}

#plot {
    width: 700px;
    margin: 70px auto;
    text-align: center;
    margin-top: 50px;
}

p {
    margin: 10px 0 20px;
    font-size: 20px;
    line-height: 1.5em;
}

form {
    margin-top: 40px;
    font-size: 20px;
}

div.input {
    margin: 10px auto;
}

label {
    display: inline-block;
    width: 120px;
}

input {
    display: inline-block;
    width: 135px;
    height: 24px;
    font-size: 18px;
    font-family: "xkcd";
    padding: 2px 5px;
    border: 1px solid #999;
}

span#more {
    width: 24px;
    height: 24px;
    right: -8px;
    top: -7px;
    display: inline-block;
    position: relative;
    border: 1px solid #999;
    font-size: 20px;
    font-family: "Helvetica", "Arial";
    text-align: center;
}

span#more:hover, span#more:active {
    color: #2A85E8;
    border: 1px solid #2A85E8;
    cursor: pointer;
}

text.title {
    font-size: 20px;
}

path {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

path.axis {
    stroke: black;
}

path.bgline {
    stroke: white;
    stroke-width: 6px;
}
