
<!DOCTYPE HTML>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Create your own XKCD-style Graphs</title>
    <meta name="description" content="Instant XKCD-style Graphs created in Javascript D3 for your enjoyment" />
    <meta name="author" content="Kevin Xu, Charlie Guo" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/angular.css" />
    </head>
<body plot-fun>

    <div class="container">

        <h1>Create your own XKCD-style Graphs</h1>
        <h2>Major credit to <a href="http://dan.iel.fm/xkcd/" target="_blank">Dan Foreman-Mackey</a></h2>

        <form>
            <div class="left">
                <div class="input" ng-repeat="equation in ctrl.equations">
                    <label>Equation</label>
                    <input type="text" placeholder="x*sin(x)" ng-change="ctrl.drawGraph()" ng-model="equation.expression"/>
                </div>

                <div class="input">
                    <label>X-minimum</label>
                    <input type="number" ng-change="ctrl.drawGraph()" ng-model="ctrl.xmin"/>
                </div>

                <div class="input">
                    <label>X-maximum</label>
                    <input type="number" ng-change="ctrl.drawGraph()" ng-model="ctrl.xmax"/>
                </div>
            </div>

            <div class="right">
                <div class="input">
                    <label>Title</label>
                    <input type="text" placeholder="Your Graph" ng-model="ctrl.title"/>
                </div>

                <div class="input">
                    <label>X-label</label>
                    <input type="text" placeholder="X" ng-change="ctrl.drawGraph()" ng-model="ctrl.xlabel"/>
                </div>

                <div class="input">
                    <label>Y-label</label>
                    <input type="text" placeholder="Y" ng-change="ctrl.drawGraph()" ng-model="ctrl.ylabel"/>
                </div>
            </div>

            <div class="clear"></div>
            <label>Fineness</label>
            <input type="range" min="2" max="250" ng-model="ctrl.fineness" ng-change="ctrl.drawGraph()"/>
            <span id="more" ng-click="ctrl.morePlots()">+</span>

            <div class="clear"></div>
        </form>
        <h1>{{ctrl.title}}</h1>
        <p ng-show="ctrl.warning.length != 0">{{ctrl.warning}}</p>
    </div>

    <div id="plot"></div>

    <script src="main.dart" type="application/dart"></script>
    <script src="packages/browser/dart.js"></script>
    <script src="packages/browser/interop.js"></script>

</body>
</html>
