
<!DOCTYPE HTML>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Create your own XKCD-style Graphs</title>
    <meta name="description" content="Instant XKCD-style Graphs created in Javascript D3 for your enjoyment" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/angular.css" />
    </head>
<body plot-fun>

    <div class="container">
        <h1>{{ctrl.title}}</h1>
        <div id="plot"></div>
        <p ng-show="ctrl.warning.length != 0">{{ctrl.warning}}</p>
        <form>
            <fieldset style="float: left">
                <legend>Equations</legend>
                <div class="input" ng-repeat="equation in ctrl.equations">
                    <label for="equation-{{$index}}-input">Equation</label>
                    <input type="text" placeholder="x*sin(x)" ng-change="ctrl.drawGraph()" ng-model="equation.expression" id="equation-{{$index}}-input"/>
                    <button ng-click="ctrl.removePlot($index)">remove</button>
                </div>

                <span id="more" ng-click="ctrl.morePlots()">+</span>
            </fieldset>

            <fieldset style="float: right">
                <legend>Parameters</legend>
                <div class="input">
                    <label for="title-input">Title</label>
                    <input type="text" placeholder="Your Graph" ng-model="ctrl.title" id="title-input"/>
                </div>

                <div class="input">
                    <label for="x-label-input">X-label</label>
                    <input type="text" placeholder="X" ng-change="ctrl.drawGraph()" ng-model="ctrl.xlabel" id="x-label-input"/>
                </div>

                <div class="input">
                    <label for="y-label-input">Y-label</label>
                    <input type="text" placeholder="Y" ng-change="ctrl.drawGraph()" ng-model="ctrl.ylabel" id="y-label-input"/>
                </div>

                <div class="input">
                    <label for="x-min-input">X-minimum</label>
                    <input type="number" ng-change="ctrl.drawGraph()" ng-model="ctrl.xmin" id="x-min-input"/>
                </div>

                <div class="input">
                    <label for="x-max-input">X-maximum</label>
                    <input type="number" ng-change="ctrl.drawGraph()" ng-model="ctrl.xmax" id="x-max-input"/>
                </div>

                <label for="fineness-input">Fineness</label>
                <input type="range" min="2" max="250" ng-model="ctrl.fineness" ng-change="ctrl.drawGraph()" id="fineness-input"/>
            </fieldset>
        </form>
    </div>

    <script src="main.dart" type="application/dart"></script>
    <script src="packages/browser/dart.js"></script>
    <script src="packages/browser/interop.js"></script>

</body>
</html>
